<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<font face = "Comic sans MS">
    <font color = "#ff8834">
        <center>
<h1>Welcome to the home page!</h1>
<h2>So what do you want to do today?</h2>


<button onclick="window.location.href = 'http://localhost:8080/addEmployee';">Add a new employee</button>
<button onclick="window.location.href = 'http://localhost:8080/deleteEmployee';">Delete an existing employee</button>
<button onclick="window.location.href = 'http://localhost:8080/allEmployees';">View all existing employees</button>
<button onclick="window.location.href = 'http://localhost:8080/updateEmployee';">Update employee's salary</button>

        </center>
    </font>
</font>
</body>
</html>